<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ClubUI/club_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,864},{74,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,63}</string>
			</dict>
			<key>ClubUI/club_bottom_instruction.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,776},{140,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,60}</string>
			</dict>
			<key>ClubUI/club_bottom_mem.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,1},{140,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,60}</string>
			</dict>
			<key>ClubUI/club_bottom_mgr.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,1},{140,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,60}</string>
			</dict>
			<key>ClubUI/club_bottom_record.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,53},{140,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,60}</string>
			</dict>
			<key>ClubUI/club_bottom_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,523},{40,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,186}</string>
			</dict>
			<key>ClubUI/club_back_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,688},{74,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,63}</string>
			</dict>
			<key>ClubUI/club_bottom_fast_join.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,115},{140,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,60}</string>
			</dict>
			<key>ClubUI/club_bottom_mgr_common.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,143},{140,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,60}</string>
			</dict>
			<key>ClubUI/club_bottom_rank_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,177},{140,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,60}</string>
			</dict>
			<key>ClubUI/club_bottom_setting_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,872},{40,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{40,186}</string>
			</dict>
			<key>ClubUI/club_buy_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,754},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>ClubUI/club_buy_btn_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,914},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>ClubUI/club_card.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,754},{70,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,47}</string>
			</dict>
			<key>ClubUI/club_card_explain_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{324,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{324,209}</string>
			</dict>
			<key>ClubUI/club_card_num_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,53},{141,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,41}</string>
			</dict>
			<key>ClubUI/club_desk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,383},{138,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,138}</string>
			</dict>
			<key>ClubUI/club_dismiss_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,953},{251,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{251,43}</string>
			</dict>
			<key>ClubUI/club_help_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,212},{169,313}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,313}</string>
			</dict>
			<key>ClubUI/club_join_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,918},{73,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,27}</string>
			</dict>
			<key>ClubUI/club_modify_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,383},{251,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,43}</string>
			</dict>
			<key>ClubUI/club_stool.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,711},{104,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,99}</string>
			</dict>
			<key>ClubUI/club_title_center_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,1},{184,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,50}</string>
			</dict>
			<key>ClubUI/club_title_center_bg_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1},{184,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,50}</string>
			</dict>
			<key>ClubUI/club_title_left_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,636},{192,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,50}</string>
			</dict>
			<key>ClubUI/club_title_left_bg_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,812},{192,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{192,50}</string>
			</dict>
			<key>ClubUI/club_title_right_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,383},{192,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,50}</string>
			</dict>
			<key>ClubUI/club_title_right_bg_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,383},{192,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{192,50}</string>
			</dict>
			<key>ClubUI/club_dismiss_bg_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,523},{251,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,43}</string>
			</dict>
			<key>ClubUI/club_modified_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{46,523},{251,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{251,43}</string>
			</dict>
			<key>ClubUI/club_modify_bg_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,953},{251,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{251,45}</string>
			</dict>
			<key>ClubUI/club_dismiss_label_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,914},{64,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,28}</string>
			</dict>
			<key>ClubUI/club_modify_label_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,688},{64,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,28}</string>
			</dict>
			<key>ClubUI/club_full_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,914},{66,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,35}</string>
			</dict>
			<key>ClubUI/desk_label_printed.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,776},{94,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,26}</string>
			</dict>
			<key>ClubUI/club_name_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1},{950,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{950,62}</string>
			</dict>
			<key>ClubUI/club_bottom_setting_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,1},{140,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ClubUI.png</string>
			<key>realTextureFileName</key>
			<string>ClubUI.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>