<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>DDZGameRoomUI/3with1_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{695,0},{152,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,58}</string>
			</dict>
			<key>DDZGameRoomUI/3with2_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,0},{152,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,58}</string>
			</dict>
			<key>DDZGameRoomUI/add_mul_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,471},{56,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,26}</string>
			</dict>
			<key>DDZGameRoomUI/dealer_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>DDZGameRoomUI/dealer_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,0},{152,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{152,58}</string>
			</dict>
			<key>DDZGameRoomUI/discard_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,194},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>DDZGameRoomUI/help_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,388},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>DDZGameRoomUI/op_bet_1_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,289},{74,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,54}</string>
			</dict>
			<key>DDZGameRoomUI/op_bet_2_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,207},{82,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{82,54}</string>
			</dict>
			<key>DDZGameRoomUI/op_bet_3_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,152},{82,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{82,54}</string>
			</dict>
			<key>DDZGameRoomUI/op_mul_1_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,0},{172,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,84}</string>
			</dict>
			<key>DDZGameRoomUI/op_mul_2_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,172},{172,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,84}</string>
			</dict>
			<key>DDZGameRoomUI/op_mul_3_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,344},{172,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,84}</string>
			</dict>
			<key>DDZGameRoomUI/op_no_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,0},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>DDZGameRoomUI/op_pass_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,194},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>DDZGameRoomUI/op_pass_discard_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,153},{103,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,55}</string>
			</dict>
			<key>DDZGameRoomUI/op_pass_jiao_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,256},{104,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,54}</string>
			</dict>
			<key>DDZGameRoomUI/op_pass_qiang_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,104},{103,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,56}</string>
			</dict>
			<key>DDZGameRoomUI/pass_dealer_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,0},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>DDZGameRoomUI/pass_jiao_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,194},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>DDZGameRoomUI/player_dealer_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,471},{37,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,51}</string>
			</dict>
			<key>DDZGameRoomUI/qiang_dealer_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,428},{153,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,58}</string>
			</dict>
			<key>DDZGameRoomUI/4with2_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,428},{154,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,58}</string>
			</dict>
			<key>DDZGameRoomUI/head_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,206},{69,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,50}</string>
			</dict>
			<key>DDZGameRoomUI/grab_dealer_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,388},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>DDZGameRoomUI/coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,343},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>DDZGameRoomUI/mul_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,0},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>DDZGameRoomUI/mul_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,0},{104,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,57}</string>
			</dict>
			<key>DDZGameRoomUI/no_mul_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,194},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>DDZGameRoomUI/no_mul_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,0},{153,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,57}</string>
			</dict>
			<key>DDZGameRoomUI/spring_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,471},{59,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,30}</string>
			</dict>
			<key>DDZGameRoomUI/head_mul_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,471},{38,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,39}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>DDZGameRoomUI.png</string>
			<key>realTextureFileName</key>
			<string>DDZGameRoomUI.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>