<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GameRoomUI/op_mul_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{207,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,86}</string>
			</dict>
			<key>GameRoomUI/op_mul_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,1},{207,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,86}</string>
			</dict>
			<key>GameRoomUI/op_mul_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1},{207,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,86}</string>
			</dict>
			<key>GameRoomUI/op_mul_pass.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,1},{207,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,86}</string>
			</dict>
			<key>GameRoomUI/score_lose_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,321},{130,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,54}</string>
			</dict>
			<key>GameRoomUI/score_win_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,377},{130,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,54}</string>
			</dict>
			<key>GameRoomUI/score_mul_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,353},{60,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,32}</string>
			</dict>
			<key>GameRoomUI/btn_op_discard.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,1},{207,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,86}</string>
			</dict>
			<key>GameRoomUI/btn_op_help.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,1},{207,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{207,86}</string>
			</dict>
			<key>GameRoomUI/btn_op_pass.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,89},{207,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,86}</string>
			</dict>
			<key>GameRoomUI/btn_op_no.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,89},{207,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,86}</string>
			</dict>
			<key>GameRoomUI/dealer.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,89},{207,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,86}</string>
			</dict>
			<key>GameRoomUI/dealer_pass.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,89},{207,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,86}</string>
			</dict>
			<key>GameRoomUI/grab_dealer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,177},{207,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,86}</string>
			</dict>
			<key>GameRoomUI/op_bet_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,239},{136,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,54}</string>
			</dict>
			<key>GameRoomUI/op_img_bet_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,177},{209,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,60}</string>
			</dict>
			<key>GameRoomUI/op_img_bet_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,177},{209,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,60}</string>
			</dict>
			<key>GameRoomUI/op_img_bet_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,177},{209,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,60}</string>
			</dict>
			<key>GameRoomUI/op_img_jiaodizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,177},{209,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,60}</string>
			</dict>
			<key>GameRoomUI/op_img_pass_discard.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,177},{209,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,60}</string>
			</dict>
			<key>GameRoomUI/op_img_pass_jiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{818,210},{209,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,60}</string>
			</dict>
			<key>GameRoomUI/op_img_pass_qiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,210},{209,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,60}</string>
			</dict>
			<key>GameRoomUI/op_img_qiangdizhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{942,210},{209,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,60}</string>
			</dict>
			<key>GameRoomUI/score_mul_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,321},{74,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,32}</string>
			</dict>
			<key>GameRoomUI/score_mul_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,295},{74,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,32}</string>
			</dict>
			<key>GameRoomUI/score_mul_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,295},{74,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,32}</string>
			</dict>
			<key>GameRoomUI/score_mul_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,329},{74,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,32}</string>
			</dict>
			<key>GameRoomUI/3with1.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,239},{177,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,54}</string>
			</dict>
			<key>GameRoomUI/3with2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,265},{177,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,54}</string>
			</dict>
			<key>GameRoomUI/4with2.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,239},{177,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,54}</string>
			</dict>
			<key>GameRoomUI/coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,295},{56,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,56}</string>
			</dict>
			<key>GameRoomUI/dealer_gold_crown.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,295},{68,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,58}</string>
			</dict>
			<key>GameRoomUI/dealer_light_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,295},{90,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,91}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>GameRoomUI.png</string>
			<key>realTextureFileName</key>
			<string>GameRoomUI.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>