<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>LL7GameRoomUI/communicate_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,306},{93,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,48}</string>
			</dict>
			<key>LL7GameRoomUI/dazhu_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{572,214},{117,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,66}</string>
			</dict>
			<key>LL7GameRoomUI/dazhu_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,462},{103,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,55}</string>
			</dict>
			<key>LL7GameRoomUI/dianpai_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,186},{118,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,69}</string>
			</dict>
			<key>LL7GameRoomUI/dianpai_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,646},{104,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,58}</string>
			</dict>
			<key>LL7GameRoomUI/diaozhu_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,214},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>
			<key>LL7GameRoomUI/diaozhu_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,646},{102,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,58}</string>
			</dict>
			<key>LL7GameRoomUI/dipai_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,142},{88,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,46}</string>
			</dict>
			<key>LL7GameRoomUI/discard_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,357},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>LL7GameRoomUI/discard_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,1},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>LL7GameRoomUI/fang_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,536},{108,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,79}</string>
			</dict>
			<key>LL7GameRoomUI/fang_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,536},{108,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,79}</string>
			</dict>
			<key>LL7GameRoomUI/foreman_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,977},{37,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,51}</string>
			</dict>
			<key>LL7GameRoomUI/grab_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,256},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>
			<key>LL7GameRoomUI/hei_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,536},{108,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,79}</string>
			</dict>
			<key>LL7GameRoomUI/hei_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,536},{108,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{108,79}</string>
			</dict>
			<key>LL7GameRoomUI/help_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,442},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>LL7GameRoomUI/hong_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,197},{104,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,79}</string>
			</dict>
			<key>LL7GameRoomUI/hong_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,871},{104,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,79}</string>
			</dict>
			<key>LL7GameRoomUI/jiaozhu_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,284},{102,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,58}</string>
			</dict>
			<key>LL7GameRoomUI/maidi_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,527},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>LL7GameRoomUI/maidi_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,612},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>LL7GameRoomUI/main_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,284},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>
			<key>LL7GameRoomUI/mei_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,760},{104,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,79}</string>
			</dict>
			<key>LL7GameRoomUI/mei_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,536},{104,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,79}</string>
			</dict>
			<key>LL7GameRoomUI/multiple2_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,712},{179,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,46}</string>
			</dict>
			<key>LL7GameRoomUI/pass_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,782},{109,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,79}</string>
			</dict>
			<key>LL7GameRoomUI/pass_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,893},{109,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,79}</string>
			</dict>
			<key>LL7GameRoomUI/previous_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,706},{84,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,47}</string>
			</dict>
			<key>LL7GameRoomUI/score_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,462},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>LL7GameRoomUI/shapai_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,143},{118,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,69}</string>
			</dict>
			<key>LL7GameRoomUI/shapai_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,646},{104,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,58}</string>
			</dict>
			<key>LL7GameRoomUI/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,306},{44,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{44,43}</string>
			</dict>
			<key>LL7GameRoomUI/tip_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{658,1},{533,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{533,49}</string>
			</dict>
			<key>LL7GameRoomUI/voice_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,143},{79,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,47}</string>
			</dict>
			<key>LL7GameRoomUI/xianjiakoudi_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,1},{183,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,51}</string>
			</dict>
			<key>LL7GameRoomUI/rect2_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,284},{78,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,22}</string>
			</dict>
			<key>LL7GameRoomUI/poker_mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,1},{140,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,198}</string>
			</dict>
			<key>LL7GameRoomUI/mark_big.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,908},{120,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,107}</string>
			</dict>
			<key>LL7GameRoomUI/previous_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,647},{131,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,52}</string>
			</dict>
			<key>LL7GameRoomUI/operation_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{455,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{455,139}</string>
			</dict>
			<key>LL7GameRoomUI/friend_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,977},{37,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{37,51}</string>
			</dict>
			<key>LL7GameRoomUI/fanzhu_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,1},{354,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{354,51}</string>
			</dict>
			<key>LL7GameRoomUI/point_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,1},{12,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{12,17}</string>
			</dict>
			<key>LL7GameRoomUI/jiaozhu_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,357},{353,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{353,51}</string>
			</dict>
			<key>LL7GameRoomUI/op_fanzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,333},{54,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{54,26}</string>
			</dict>
			<key>LL7GameRoomUI/op_jiaozhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,232},{53,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,27}</string>
			</dict>
			<key>LL7GameRoomUI/wait_fanzhu_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,358},{354,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{354,50}</string>
			</dict>
			<key>LL7GameRoomUI/wait_jiaozhu_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,1},{354,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{354,50}</string>
			</dict>
			<key>LL7GameRoomUI/wait_maidi_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,1},{355,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{355,50}</string>
			</dict>
			<key>LL7GameRoomUI/blue_score_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,462},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>LL7GameRoomUI/bufan_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,333},{103,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,57}</string>
			</dict>
			<key>LL7GameRoomUI/bujiao_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,462},{104,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,54}</string>
			</dict>
			<key>LL7GameRoomUI/pass2_disabled.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,760},{109,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,79}</string>
			</dict>
			<key>LL7GameRoomUI/pass2_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,536},{109,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,79}</string>
			</dict>
			<key>LL7GameRoomUI/small_poker_a7.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,462},{36,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,44}</string>
			</dict>
			<key>LL7GameRoomUI/small_poker_b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,142},{36,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,44}</string>
			</dict>
			<key>LL7GameRoomUI/small_poker_c7.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,180},{36,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,44}</string>
			</dict>
			<key>LL7GameRoomUI/small_poker_d7.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,218},{36,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,44}</string>
			</dict>
			<key>LL7GameRoomUI/poker_di_img.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,388},{81,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,72}</string>
			</dict>
			<key>LL7GameRoomUI/giveup_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,697},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
			<key>LL7GameRoomUI/ungiveup_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,712},{194,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{194,83}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>LL7GameRoomUI.png</string>
			<key>realTextureFileName</key>
			<string>LL7GameRoomUI.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>