<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>PlayBack3DUI/kong_l_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,401},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/kong_l_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,455},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/kong_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,401},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/kong_r_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,455},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/kong_r_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,1},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/kong_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,55},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pass_l_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,109},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pass_l_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,163},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pass_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,217},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pass_r_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,271},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pass_r_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,325},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pass_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,379},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pong_l_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,433},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pong_l_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pong_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,55},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pong_r_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,109},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pong_r_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,163},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pong_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,217},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/win_l_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,271},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/win_l_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,325},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/win_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,379},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/win_r_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,433},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/win_r_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,1},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/win_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,55},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/chow_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,109},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/chow_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,163},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/finger.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,1},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBack2DUI/kong_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,217},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/kong_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,271},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pass_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,325},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pass_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,379},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pong_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,433},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pong_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,1},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/win_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,55},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/win_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,109},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBackControlUI/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{508,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{508,122}</string>
			</dict>
			<key>PlayBackControlUI/close_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,81},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBackControlUI/close_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,161},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBackControlUI/pause_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,241},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBackControlUI/pause_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,321},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBackControlUI/play_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,401},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBackControlUI/play_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBackControlUI/replay_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,81},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBackControlUI/replay_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,161},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBackControlUI/speed_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,241},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBackControlUI/speed_p.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,321},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>PlayBack3DUI/pass2_l_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,163},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pass2_l_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,217},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pass2_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,271},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pass2_r_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,325},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pass2_r_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,379},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/pass2_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,433},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/chow_l_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,1},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/chow_l_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,55},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/chow_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,109},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/chow_r_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,163},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/chow_r_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,217},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack3DUI/chow_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,271},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/chow_l_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,325},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/chow_l_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,379},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/chow_r_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,433},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/chow_r_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,1},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/kong_l_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,55},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/kong_l_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,109},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/kong_r_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,163},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/kong_r_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,217},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pass_l_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,271},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pass_l_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,325},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pass_r_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,379},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pass_r_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,433},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pass2_l_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,1},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pass2_l_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,55},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pass2_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,109},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pass2_r_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,163},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pass2_r_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,217},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pass2_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,271},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pong_l_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,325},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pong_l_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,379},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pong_r_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,433},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/pong_r_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,1},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/win_l_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,55},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/win_l_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,109},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/win_r_n.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,163},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
			<key>PlayBack2DUI/win_r_s.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,217},{52,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>PlaybackUI.png</string>
			<key>realTextureFileName</key>
			<string>PlaybackUI.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>