<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Poker/pic_poker_a1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,217},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,433},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,649},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,865},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1081},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1297},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1513},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1729},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a6.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a7.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,156},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a8.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,372},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_a9.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,588},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,804},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b10.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1020},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b11.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1236},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b12.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1452},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b13.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1668},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,156},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,1},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,372},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,588},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,804},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,1020},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,1236},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,1452},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_backend.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,1668},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c1.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,156},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c10.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,1},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c11.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,311},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c12.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,527},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c13.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,743},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c2.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,959},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c3.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,1175},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c4.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,1391},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c5.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,1607},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c6.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,1823},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c7.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,311},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c8.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,156},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_c9.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,1},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d1.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,466},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d10.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,682},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d11.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,898},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d12.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1114},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d13.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1330},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d2.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1546},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d3.png</key>
			<dict>
				<key>frame</key>
				<string>{{661,1762},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d4.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,466},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d5.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,311},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d6.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,156},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,1},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d8.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,621},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_d9.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,837},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1053},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1269},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_small_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1945},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1995},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a1.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,1945},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a10.png</key>
			<dict>
				<key>frame</key>
				<string>{{26,1995},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a11.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,1945},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a12.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,1995},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a13.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,1945},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a2.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,1995},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a3.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,1945},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a4.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,1995},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a5.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,1945},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a6.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,1995},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a7.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1945},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a8.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,1995},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_a9.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,1884},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b1.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,1934},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b10.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1884},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b11.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,1984},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b12.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1934},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b13.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1884},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b2.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1984},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b3.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,1934},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b4.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,1884},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b5.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,1984},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b6.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1934},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b7.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,1884},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b8.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,1984},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_b9.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,1934},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c1.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1884},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c10.png</key>
			<dict>
				<key>frame</key>
				<string>{{276,1984},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c11.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1934},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c12.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,1884},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c13.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,1984},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c2.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,1934},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c3.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,1984},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c4.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,1884},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c5.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1934},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c6.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,1884},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c7.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1984},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c8.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,1934},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_c9.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1884},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d1.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,1984},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d10.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1934},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d11.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,1884},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d12.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1984},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d13.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,1934},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d2.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1884},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d3.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,1984},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d4.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1934},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d5.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,1884},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d6.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1984},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d7.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,1934},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d8.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,1984},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_small_d9.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,1823},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
			<key>Poker/pic_poker_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,1485},{153,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,214}</string>
			</dict>
			<key>Poker/pic_poker_small_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,1873},{23,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{23,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Poker.png</string>
			<key>realTextureFileName</key>
			<string>Poker.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>