<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>biaoqing/emotion_12_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,343},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,79}</string>
			</dict>
			<key>biaoqing/emotion_12_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,262},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,79}</string>
			</dict>
			<key>biaoqing/emotion_12_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,422},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,79}</string>
			</dict>
			<key>biaoqing/emotion_1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,231},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>
			<key>biaoqing/emotion_1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,154},{77,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,76}</string>
			</dict>
			<key>biaoqing/emotion_10_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,77},{81,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,76}</string>
			</dict>
			<key>biaoqing/emotion_10_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,262},{81,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,76}</string>
			</dict>
			<key>biaoqing/emotion_11_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,187},{88,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,77}</string>
			</dict>
			<key>biaoqing/emotion_11_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,86},{88,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,77}</string>
			</dict>
			<key>biaoqing/emotion_11_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,0},{88,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{88,77}</string>
			</dict>
			<key>biaoqing/emotion_11_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,275},{88,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,77}</string>
			</dict>
			<key>biaoqing/emotion_11_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,363},{88,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,77}</string>
			</dict>
			<key>biaoqing/emotion_11_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,174},{88,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,77}</string>
			</dict>
			<key>biaoqing/emotion_2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,0},{77,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{77,78}</string>
			</dict>
			<key>biaoqing/emotion_2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,341},{77,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,78}</string>
			</dict>
			<key>biaoqing/emotion_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,419},{77,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,78}</string>
			</dict>
			<key>biaoqing/emotion_2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,237},{77,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,78}</string>
			</dict>
			<key>biaoqing/emotion_3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,156},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>biaoqing/emotion_3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,77},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>biaoqing/emotion_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,0},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>biaoqing/emotion_3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,315},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>biaoqing/emotion_3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,233},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>biaoqing/emotion_3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{460,154},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>biaoqing/emotion_3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,77},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>biaoqing/emotion_4_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,0},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>biaoqing/emotion_4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,392},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>biaoqing/emotion_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,310},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>biaoqing/emotion_4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,231},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>biaoqing/emotion_4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,154},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>biaoqing/emotion_5_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,158},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,79}</string>
			</dict>
			<key>biaoqing/emotion_5_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,77},{77,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,79}</string>
			</dict>
			<key>biaoqing/emotion_6_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,77},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>biaoqing/emotion_6_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,0},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>biaoqing/emotion_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,387},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>biaoqing/emotion_6_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,308},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>biaoqing/emotion_7_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{110,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,95}</string>
			</dict>
			<key>biaoqing/emotion_7_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,110},{110,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,95}</string>
			</dict>
			<key>biaoqing/emotion_8_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,101},{86,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,84}</string>
			</dict>
			<key>biaoqing/emotion_8_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,0},{86,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,84}</string>
			</dict>
			<key>biaoqing/emotion_9_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,220},{101,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,76}</string>
			</dict>
			<key>biaoqing/emotion_9_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,321},{101,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,76}</string>
			</dict>
			<key>biaoqing/emotion_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,422},{101,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,76}</string>
			</dict>
			<key>biaoqing/emotion_9_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,220},{101,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,76}</string>
			</dict>
			<key>biaoqing/emotion_9_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{76,321},{101,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,76}</string>
			</dict>
			<key>biaoqing/emotion_9_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,422},{101,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,76}</string>
			</dict>
			<key>biaoqing/emotion_9_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,0},{101,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,76}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>biaoqing.png</string>
			<key>realTextureFileName</key>
			<string>biaoqing.png</string>
			<key>size</key>
			<string>{1024,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>