<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Expression/kiss_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,193},{71,63}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,1},{61,60}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,570},{69,70}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,320},{78,80}}</string>
				<key>offset</key>
				<string>{9,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,193},{61,91}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,130},{61,56}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,131},{61,56}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,801},{53,51}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{963,64},{64,56}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{828,320},{79,69}}</string>
				<key>offset</key>
				<string>{-1,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,265},{92,78}}</string>
				<key>offset</key>
				<string>{1,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,131},{61,56}}</string>
				<key>offset</key>
				<string>{-1,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,320},{88,75}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{746,400},{83,73}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,485},{83,73}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{769,485},{83,73}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,400},{80,72}}</string>
				<key>offset</key>
				<string>{0,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,189},{74,68}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,131},{61,56}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,862},{55,57}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,194},{61,56}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,257},{61,56}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/kiss_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{960,266},{61,56}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,123}</string>
			</dict>
			<key>Expression/cheers_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,964},{139,56}}</string>
				<key>offset</key>
				<string>{-1,-15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,500},{155,78}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,500},{155,78}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,787},{148,75}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,565},{148,75}}</string>
				<key>offset</key>
				<string>{-1,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,737},{136,62}}</string>
				<key>offset</key>
				<string>{-1,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,565},{135,63}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,856},{127,61}}</string>
				<key>offset</key>
				<string>{-2,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,919},{127,61}}</string>
				<key>offset</key>
				<string>{-2,-19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{719,630},{105,96}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,857},{105,96}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,642},{113,98}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,642},{113,98}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,757},{113,98}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/cheers_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{438,370},{155,78}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,113}</string>
			</dict>
			<key>Expression/flower_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,919},{72,100}}</string>
				<key>offset</key>
				<string>{3,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,375},{164,171}}</string>
				<key>offset</key>
				<string>{1,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,721},{146,155}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,721},{146,155}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,878},{143,157}}</string>
				<key>offset</key>
				<string>{7,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,878},{143,157}}</string>
				<key>offset</key>
				<string>{7,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,375},{143,157}}</string>
				<key>offset</key>
				<string>{7,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,534},{143,157}}</string>
				<key>offset</key>
				<string>{7,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,693},{23,22}}</string>
				<key>offset</key>
				<string>{0,36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,693},{23,22}}</string>
				<key>offset</key>
				<string>{0,36}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,823},{99,39}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,320},{72,100}}</string>
				<key>offset</key>
				<string>{3,-14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,823},{99,39}}</string>
				<key>offset</key>
				<string>{0,45}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,801},{128,59}}</string>
				<key>offset</key>
				<string>{0,35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{902,1},{128,59}}</string>
				<key>offset</key>
				<string>{0,35}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,657},{128,94}}</string>
				<key>offset</key>
				<string>{0,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,864},{128,94}}</string>
				<key>offset</key>
				<string>{0,17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,693},{128,124}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,864},{128,124}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{445,864},{128,124}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,1},{128,124}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,131},{128,124}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,450},{104,113}}</string>
				<key>offset</key>
				<string>{0,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,1},{128,124}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,131},{128,124}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,370},{128,124}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>Expression/flower_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,450},{104,113}}</string>
				<key>offset</key>
				<string>{0,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,261},{107,136}}</string>
				<key>offset</key>
				<string>{5,-21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,261},{107,136}}</string>
				<key>offset</key>
				<string>{5,-21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{177,185}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,188},{177,185}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>Expression/flower_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,548},{164,171}}</string>
				<key>offset</key>
				<string>{1,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>expression.png</string>
			<key>realTextureFileName</key>
			<string>expression.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>