<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>da7TeXiao/1.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1035},{305,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{305,168}</string>
			</dict>
			<key>da7TeXiao/10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,51},{16,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{16,26}</string>
			</dict>
			<key>da7TeXiao/11.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1812},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>da7TeXiao/12.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,493},{69,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,46}</string>
			</dict>
			<key>da7TeXiao/13.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,415},{76,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,48}</string>
			</dict>
			<key>da7TeXiao/14.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,1310},{267,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{267,62}</string>
			</dict>
			<key>da7TeXiao/15.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,564},{71,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{71,40}</string>
			</dict>
			<key>da7TeXiao/16.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,1670},{140,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,78}</string>
			</dict>
			<key>da7TeXiao/19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1035},{273,348}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{273,348}</string>
			</dict>
			<key>da7TeXiao/2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1559},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>
			<key>da7TeXiao/20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1310},{247,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{247,281}</string>
			</dict>
			<key>da7TeXiao/21.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,415},{356,390}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{356,390}</string>
			</dict>
			<key>da7TeXiao/22.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1},{412,421}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{412,421}</string>
			</dict>
			<key>da7TeXiao/23.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,776},{453,474}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{453,474}</string>
			</dict>
			<key>da7TeXiao/24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,541},{492,540}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{492,540}</string>
			</dict>
			<key>da7TeXiao/25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{538,578}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{538,578}</string>
			</dict>
			<key>da7TeXiao/26.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,1559},{109,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,121}</string>
			</dict>
			<key>da7TeXiao/3.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,1865},{69,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,68}</string>
			</dict>
			<key>da7TeXiao/4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1},{11,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,48}</string>
			</dict>
			<key>da7TeXiao/5.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1936},{69,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{69,68}</string>
			</dict>
			<key>da7TeXiao/6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1794},{101,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,69}</string>
			</dict>
			<key>da7TeXiao/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,1670},{66,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,67}</string>
			</dict>
			<key>da7TeXiao/8.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,541},{22,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{22,24}</string>
			</dict>
			<key>da7TeXiao/9.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,752},{31,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,22}</string>
			</dict>
			<key>da7TeXiao/diaoz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1865},{102,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{102,58}</string>
			</dict>
			<key>da7TeXiao/diaoz1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1676},{116,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,68}</string>
			</dict>
			<key>da7TeXiao/fen.png</key>
			<dict>
				<key>frame</key>
				<string>{{198,1739},{53,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,54}</string>
			</dict>
			<key>da7TeXiao/guang4.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,637},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>da7TeXiao/guang6.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,689},{61,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,38}</string>
			</dict>
			<key>da7TeXiao/jiaozhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1969},{102,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,58}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>da7TeXiao.png</string>
			<key>realTextureFileName</key>
			<string>da7TeXiao.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>